<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- iisnode handler für server.js -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- Alle Anfragen an server.js weiterleiten -->
        <rule name="NodeJS" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <!-- server.js nicht direkt über URL zugänglich machen -->
          <remove segment="server.js" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <!-- Fehlerbehandlung durchreichen -->
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
